div.gallery {
  margin: 10px;
  border: 1px solid #ccc;
  float: left;
  width: 280px;
  padding:25px;

 
}


  
}

div.gallery:hover {
  border: 1px solid #777;
  opacity:0.9;
  transform:transparent;
  
  
}
* {
  box-sizing: border-box;
}


div.gallery img {
  width: 100%;
  }

div.desc {
  padding: 15px;
  text-align: center;
}
div.desc a{
height:50px;
width:50px;
color:black;
animation-name:Order;
animation-duration:4s;
animation-delay:2s;
}

@keyframes Order{
  0%   {background-color: red;}
  25%  {background-color: yellow;}
  50%  {background-color: blue;}
  100% {background-color: green;}
}

 


